<html>
<head>
	<link rel="stylesheet" type="text/css" href="<%= url("style.css")%>">

	<title>Welcome</title>
</head>
<body>
	<p>This is my page for the base, bro.</p>	
	<p><%= erb :offer_display_dropdown %></p>
</body>
</html>