<h1>Activity</h1>
<div class="spacer">&nbsp;</div>

<div class="activityWidgets">

	<div class="activityWidget">
		<div class="profileActivityImage">
			<div class="profileAvatarActivity">
				<img class="profileAvatar-image" src="https://lh5.googleusercontent.com/-YdNH4YWtA18/AAAAAAAAAAI/AAAAAAAAABE/xxhuUqNm1pw/photo.jpg?sz=500" width="250" />
			</div>
		</div>
		<div class="activityDescription">
			<p><strong>Frank Caron</strong> earned 200 points for going above and beyond.</p>
		</div>
	</div>

	<div class="activityWidget">
		<div class="profileActivityImage">
			<div class="profileAvatarActivity">
				<img class="profileAvatar-image" src="https://lh5.googleusercontent.com/-YdNH4YWtA18/AAAAAAAAAAI/AAAAAAAAABE/xxhuUqNm1pw/photo.jpg?sz=500" width="250" />
			</div>
		</div>
		<div class="activityDescription">
			<p><strong>Frank Caron</strong> earned 200 points for going above and beyond.</p>
		</div>
	</div>

</div>
<div></div>