<h1>Get points…for doing good!</h1>
<p class="lead">
	<p class="leader_text">We love a good competition, especially when there’s an opportunity to make a huge impact.</p>
	<p class="leader_text">Award yourself points throughout 2015 for the awesome things you do to give back to your community. At the end of the year, the top 50 Pointsters with the highest scores will be entered into a draw. The prize? Two Pointster names will be drawn for a trip overseas with Points’ Champion Charity, Right To Play, to witness firsthand the power and sport and play in changing children’s lives.</p>
	<p class="leader_text">The competition is on from now until December 31, 2015 and the rules are simple: Volunteer, Tell us what you did, Earn points.</p>
	<p class="leader_text">So what did you do to give back to your community? Tell us about it and claim your points below.</p>

</p>

<div class="get">
	<form class="give" method="post" action="/account/get-points-good">
		<select name="points">
  			<option value="1000">I volunteered for 1 hour.</option>
  			<option value="2000">I volunteered for 2 hours.</option>
  			<option value="3000">I volunteered for 3 hours.</option>
  			<option value="4000">I volunteered for 4 hours.</option>
  			<option value="5000">I volunteered for 5 hours.</option>
  			<option value="8000">I volunteered for a full day.</option>					
  			<option value="2500">I participated in a "Points For Good" activity!</option>
  			<option value="10000">I organized a volunteer activity for 5 or more Poinsters!</option>
		</select>
		<input class="textfield" type="text" name="message" placeholder="Tell us more about what you did." required />
		<input type="submit" value="Get My Points!" />
	</form>
	<br />
	<p>Any questions? Please email <a href="mailto:pointsforgood@points.com">pointsforgood@points.com</a>.</p>
</div>
