<h1>Get Points</h1>
<p class="lead">
	<p>Recognize a fellow Poinster!</p>

	<p class="leader_text">Think your fellow employee did an amazing job worthy of recognition? Give 'em some Points! Employees with the most points at the end of the year will receive special recognition and rewards, so don't hesistate to celebrate hard work with a gift of points!</p>

</p>

<div class="get">
	<form class="give" method="post" action="/account/give-points">
		<p>I volunteered for <input type="text" name="hours" size="3" maxlength="2" /> hours.
		<p>I did something else worth doing:</p>
		<select>
  			<option value="2000">I organized a group activity for more than 5 people!</option>
  			<option value="2000">I organized a group activity for more than 5 people!</option>
		</select><br /><br />
		<input type="submit" value="Get My Points!" />
	</form>
</div>
