<h1>Get points…for living healthy!</h1>
<p class="lead">
	<p class="leader_text">We love a good competition, especially when there’s an opportunity to make a huge impact on the way we live.</p>
	<p class="leader_text">If you have a Fitbit, <a href="https://plp-api.herokuapp.com/registerfitbit?<%= @mv["email"] %>">register</a> so you can automatically earn points for living healthy.</p>
	<p class="leader_text">If you do not have a Fitbit or you don't wish to automatically earn points, tell us below what you did to live healthier and claim your points!</p>

</p>

<div class="get">
	<form class="give" method="post" action="/account/get-points-health">
		<select name="points">
  			<option value="1000">I invested 1 hour into (learning about) leaving healthier.</option>
  			<option value="2000">I invested 2 hours into (learning about) leaving healthier.</option>
  			<option value="3000">I invested 3 hours into (learning about) leaving healthier.</option>
  			<option value="4000">I invested 4 hours into (learning about) leaving healthier.</option>  			
  			<option value="5000">I organized a "healthy living" activity for 5 or more Poinsters!</option>
		</select>
		<input class="textfield" type="text" name="message" placeholder="Tell us more about what you did." required />
		<input type="submit" value="Get My Points!" />
	</form>
	<br />
	<p>Any questions? Please email <a href="mailto:SocialCommittee@points.com">SocialCommittee@points.com</a>.</p>
</div>
