<h1>Get Points</h1>
<p class="lead">
	<p>Points For Good</p>

	<p class="leader_text">Pointsters can now award themselves points throughout 2015 for their involvement in charity and community initiatives. At the end of 2015, the top 50 Pointsters with the highest scores will be entered into the draw. So what did you do to give back? Let us know and claim your points below.</p>

</p>

<div class="get">
	<form class="give" method="post" action="/account/get-points">
		<select name="points">
  			<option value="0">I did the following awesome thing...</option>
  			<option value="1000">I volunteered for one hour.</option>
  			<option value="4000">I volunteered for 4 hours.</option>
  			<option value="8000">I volunteered for a full day.</option>					
  			<option value="2500">I participated in a "Points For Good" activity!</option>
  			<option value="10000">I organized a volunteer activity for 5 or more Poinsters!</option>
		</select>
		<input class="textfield" type="text" name="message" placeholder="Tell us more about what you did." required />
		<input type="submit" value="Get My Points!" />
	</form>
</div>
