<h1>Give Points</h1>
<p class="lead">
	<p>Recognize a fellow Poinster!</p>

	<p class="leader_text">Think your fellow employee did an amazing job worthy of recognition? Give 'em some Points! Employees with the most points at the end of the year will receive special recognition and rewards, so don't hesistate to celebrate hard work with a gift of points!</p>

</p>
<div class="giveDiv">
	<div class="profileAvatarGive">
		<img class="profileAvatar-image" src="<%= @member["image"]["url"] %>"/>
	</div>
	<div class="giveArrow">
		<img src="https://cdn4.iconfinder.com/data/icons/ionicons/512/icon-ios7-arrow-forward-128.png" />
	</div>
	<div class="profileAvatarGive">
		<img class="profileAvatar-image" src="http://3.bp.blogspot.com/-G5aIFyMZ7f0/T70hqGlbb5I/AAAAAAAAK_Q/FYMbyJz2SXU/s1600/Question_mark.PNG" />
	</div>
</div>

<div class="give">
	<form class="give" method="post" action="/give">
     	<input class="textfield" type="text" name="firstName" placeholder=" Your recipient's first name" />
     	<input class="textfield" type="text" name="lastName" placeholder=" Your recipient's last name" />
     	<input class="textfield" type="text" name="email" placeholder=" Your recipient's email" />
     	<input type="range" name="points" id="points" value="1000" min="0" max="<%= @mv["balance"] %>" data-highlight="true">
		<input class="submit" type="submit" value="Give">
	</form>
</div>
