<h1>Welcome</h1>
<p class="lead">
	<p>Welcome to Global Rewards! </p>

	<p class="leader_text">We're not in the business of being a loyalty program here at Points, but that doesn't mean we shouldn't try to live the life our partners lead. Understanding their pains and living in the shoes of their members will help us make better products and provide better service.</p>

</p>