<h1>Log In</h1>
<p class="lead">
	<p class="leader_text">Ready to start eating our own dogfood? Sure you are. Just click below to log in with your Points account.</p>
</p>
<div class="signup">

  <span id="signinButton">
  <span
    class="g-signin"
    data-callback="signinCallback"
    data-theme="dark"
    data-clientid="403521387771-pl2dfbemkbv0qr3lhkj81f77du1djo41.apps.googleusercontent.com"
    data-cookiepolicy="http://plp.herokuapp.com"
    data-accesstype="offline"
    data-scope="email">
  </span>
</span> 
</div>

<script>
function signinCallback(authResult) {
  if (authResult['status']['signed_in']) {
    // Update the app to reflect a signed in user
    // Hide the sign-in button now that the user is authorized, for example:
    //window.location.replace("/logged-in?token=" + authResult['access_token']);
    console.log(gapi.auth.getToken());
  } else {
    // Update the app to reflect a signed out user
    // Possible error values:
    //   "user_signed_out" - User is signed-out
    //   "access_denied" - User denied access to your app
    //   "immediate_failed" - Could not automatically log in the user
    console.log('Sign-in state: ' + authResult['error']);
  }
}
</script>

