<h1>Log In</h1>
<p class="lead">
	<p class="leader_text">Ready to start eating our own dogfood? Sure you are. Just click below to log in with your Points account.</p>
</p>
<div class="signup">
	<form class="signup" method="post" action="/signup">
		<img src="https://developers.google.com/+/images/branding/sign-in-buttons/Red-signin_Google_base_44dp.png" width="200px">
	</form>
</div>

