<script language="JavaScript">
	// similar behavior as an HTTP redirect
	window.location.replace("https://www.google.com/accounts/Logout?continue=https://appengine.google.com/_ah/logout?continue=https://plp.herokuapp.com");
</script>
<p>Logging you out of Google...</p>
