<script language="JavaScript">
	// similar behavior as an HTTP redirect
	window.location.replace("https://accounts.google.com/Logout?&continue=https://plp.herokuapp.com");
</script>
<p>Logging you out of Google...</p>
