<h1>Signup</h1>
<p class="lead">
	<p class="leader_text">Ready to start eating our own dogfood? Sure you are. Give us your deets below to sign up for your own Global Rewards account.</p>
</p>
<div class="signup">
	<form class="signup" method="post" action="/signup">
		<label class="formlabel" for="firstName">First Name: </label>
     	<input class="textfield" type="text" name="firstName" placeholder=" Your first name" /><br />
     	<label class="formlabel"  for="firstName">Last Name: </label>
     	<input class="textfield" type="text" name="lastName" placeholder=" Your last name" /><br />
     	<label class="formlabel"  for="firstName">Email: </label>
     	<input class="textfield" type="text" name="email" placeholder=" Your Points email address" /><br />
		<input class="submit" type="submit" value="Signup">
	</form>
</div>

