<html>
<head>
	<link rel="stylesheet" type="text/css" href="<%= url("style.css")%>">
	<title>This be <%= params[:splat][0] %></title>
</head>
<body>
	<p>This is my super awesome page for <b><%= params[:splat][0] %></b>, bro.</p>
</body>
</html>