<html>
<head>
	<link rel="stylesheet" type="text/css" href="<%= url("style.css")%>">

	<title><%= @lang["en_title"] %></title>
</head>
<body>
	<p><%= @lang["en_hello"] %></p>	
	<p><%= erb :offer_display_dropdown %></p>
	<p></p>
</body>
</html>